{% extends 'base.html' %}
{% load static %}
{% block contents %}
  <body>
      <div class="theme-hero-area-body theme-hero-area-body-vert-center">
        <div class="container">
          <div class="theme-page-404 _ta-c">
            <h1 class="theme-page-404-title">404</h1>
            <p class="theme-page-404-subtitle" style="color:black;">잘못된 접근입니다</p>
            <a class="btn btn-ghost btn-xxl btn-black btn-uc" href="main">메인 페이지로 이동</a>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}