{% load static %}
<!--css/navbar는 만든 css이므로 변경 가능, 나머지는 변경 X-->
<!DOCTYPE HTML>
<html lang="ko">

<head>
  <title>Coin Laundry</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" />
  <link rel="stylesheet" href="{% static '/css/font-awesome.css' %}" />
  <link rel="stylesheet" href="{% static '/css/lineicons.css' %}" />
  <link rel="stylesheet" href="{% static 'css/weather-icons.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">
  <style>
    #main-nav {
      background-color: skyblue;
    }
    /* 네비게이션 바 아이콘 간격 조절 */
    /* .navbar-inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
    } */
    /* 네비게이션 바 상단 고정 */
    .fixed_nav {
      z-index: 10;
      position: fixed !important;
      top: 0;
      left: 0;
      right: 0;
    }

    .fixed_bar {
      z-index: 9;
      position: fixed !important;
      bottom: 0;
      left: 0;
      right: 0;
    }

    body {
      padding-top: 3.3em;
    }
    .navbar-brand > img {
      max-width: 6em;
      max-height: 6em;
    }
    ul {
      padding: 0px 5px 0px 5px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-default navbar-theme fixed_nav text-font" id="main-nav">
    <div class="container">
      <div class="navbar-inner nav">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" data-target="#navbar-main" data-toggle="collapse" type="button"
            area-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'board:main' %}">
            <img src="{% static '/img/logo-dark.png' %}" alt="Image Alternative text" title="Image Title" />
          </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="active dropdown">
              <a href="{% url 'laundry:search_map' %}">세탁소 찾기</a>
            </li>
            <li class="active dropdown">
              <a href="{% url 'board:board' %}">커뮤니티</a>
            </li>
            <li class="active dropdown">
              <a href="{% url 'board:qna' %}">Q&A</a>
            </li>
          </ul>
        </div>
        <div>
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-nav-item-user dropdown">

              <!--비로그인시 : 로그인 / 로그인시 : 닉네임 및 dropdown 출력 -->
              {% if request.session.user_nick %}
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle-o navbar-nav-item-user-icon"></i>{{ request.session.user_nick }}</a>           
                <ul class="dropdown-menu">
                  <li>
                    <a href="{% url 'user:account' %}">마이페이지</a>
                  </li>
                  <li>
                    <a href="{% url 'user:cards' %}">결제</a>
                  </li>
                  {% comment %} <li>
                    <a href="{% url 'user:bookmarks' %}">즐겨찾기</a>
                  </li> {% endcomment %}
                  <li>
                    <a href="{% url 'user:logout' %}">로그아웃</a>
                  </li>
                </ul>
                {% else %}
                <a class="dropdown-toggle" href="{% url 'user:login' %}" aria-haspopup="true" aria-expanded="false">
                  <i class="fa navbar-nav-item-user-icon"></i> {{'로그인'}}
                </a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="theme-footer fixed_bar" id="mainFooter">
    <div class="container _ph-mob-0">
      <div class="row row-eq-height row-mob-full" data-gutter="60">
        <div style="margin:30px" ;></div>
      </div>
    </div>
  </div>
  <div class="theme-copyright fixed_bar">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="theme-copyright-text">Copyright &copy; 2021
            <a href="https://github.com/HyunCheolNam/miniproject2">Github</a>. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
  {% block contents%}
  {% endblock %}

  <script src='{% static "js/jquery.js"%}'></script>
  <script src='{% static "js/moment.js"%}'></script>
  <script src='{% static "js/bootstrap.js"%}'></script>
  <script src='{% static "js/owl-carousel.js"%}'></script>
  <script src='{% static "js/blur-area.js"%}'></script>
  <script src='{% static "js/icheck.js"%}'></script>
  <script src='{% static "js/gmap.js"%}'></script>
  <script src='{% static "js/magnific-popup.js"%}'></script>
  <script src='{% static "js/ion-range-slider.js"%}'></script>
  <script src='{% static "js/sticky-kit.js"%}'></script>
  <script src='{% static "js/smooth-scroll.js"%}'></script>
  <script src='{% static "js/fotorama.js"%}'></script>
  <script src='{% static "js/bs-datepicker.js"%}'></script>
  <script src='{% static "js/typeahead.js"%}'></script>
  <script src='{% static "js/quantity-selector.js"%}'></script>
  <script src='{% static "js/countdown.js"%}'></script>
  <script src='{% static "js/window-scroll-action.js"%}'></script>
  <script src='{% static "js/fitvid.js"%}'></script>
  <script src='{% static "js/youtube-bg.js"%}'></script>
  <script src='{% static "js/custom.js"%}'></script>
</body>

</html>