{% extends 'base.html' %}
{% load static %}
{% block contents %}


<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script>
$(function () {
  $("#alert-success").hide();
  $("#alert-danger").hide();
  $("input").keyup(function () {
    var new_pw = $("#new_pw").val();
    var check_pw = $("#check_pw").val();
    if (new_pw != "" && check_pw != "") {
      if (new_pw == check_pw) {
        $("#alert-success").show();
        $("#alert-danger").hide();
        $("#submit").removeAttr("disabled");
      }
      else {
        $("#alert-success").hide();
        $("#alert-danger").show();
        $("#submit").attr("disabled", "disabled");
      }
    }
  });
});
</script>
   <div class="theme-page-section theme-page-section-gray theme-page-section-lg">
      <div class="container">
        <div class="row">
          <div class="col-md-9-5 "> 
            <h1 class="theme-account-page-title">마이페이지</h1>
            <div class="row">
              <div class="col-md-9 ">
                <div class="theme-account-preferences">
                  <div class="theme-account-preferences-item">
                    <div class="row">
                      <div class="col-md-3 ">
                        <h5 class="theme-account-preferences-item-title">아이디</h5>
                      </div>
                      <div class="col-md-7 ">
                        <p class="theme-account-preferences-item-value">{{ user.user_id }}</p>
                      </div>
                    </div>
                  </div>
                  <!-- 비밀번호 -->
                  <div class="theme-account-preferences-item" method="post"> {% csrf_token %}
                    <div class="row">
                      <div class="col-md-3 ">
                        <h5 class="theme-account-preferences-item-title">비밀번호</h5>
                      </div>
                      <div class="col-md-7 ">
                        <p class="theme-account-preferences-item-value">********</p>
                        <div class="collapse" id="ChangePassword">
                          <div class="theme-account-preferences-item-change">
                            <p class="theme-account-preferences-item-change-description">다른 사이트에서 사용 안 한
                              <br/>긴 암호를 사용하는 것이 좋습니다.
                            </p>
                            <div class="form-group theme-account-preferences-item-change-form">
                              <label>현재 비밀번호</label>
                              <input class="form-control" type="password" name="previous_pw"/>
                              <label>새로운 비밀번호</label>
                              <input class="form-control" type="password" id="new_pw" name="new_pw"/>
                              <label>새로운 비밀번호 재확인</label>
                              <input class="form-control" type="password" id="check_pw" name="check_pw"/>
                            </div>
                            <div class="password_alert">
                              <div class="alert alert-success" id="alert-success">비밀번호가 일치합니다.</div>
                              <div class="alert alert-danger" id="alert-danger">비밀번호가 일치하지 않습니다.</div>
                            </div>
                            <div class="theme-account-preferences-item-change-actions">
                              <a class="btn btn-sm btn-primary" id="change_pw">저장</a>
                              <a class="btn btn-sm btn-default" href="#ChangePassword" data-toggle="collapse" aria-expanded="false" aria-controls="ChangePassword">취소</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- 비밀번호 같은지 여부 확인하는 div-->

                      <div class="col-md-2 ">
                        <a class="theme-account-preferences-item-change-link" href="#ChangePassword" data-toggle="collapse" aria-expanded="false" aria-controls="ChangePassword">
                          <i class="fa fa-pencil"></i>수정
                        </a>
                      </div>
                    </div>
                  </div>

                  <!-- 닉네임 -->
                  <div class="theme-account-preferences-item" method="post"> {% csrf_token %}
                    <div class="row">
                      <div class="col-md-3 ">
                        <h5 class="theme-account-preferences-item-title">닉네임</h5>
                      </div>
                      <div class="col-md-7 ">
                        <p class="theme-account-preferences-item-value">{{ user.user_nick }}</p>
                        <div class="collapse" id="ChangeCurrency">
                          <div class="theme-account-preferences-item-change">
                            <div class="form-group theme-account-preferences-item-change-form">
                                <input class="form-control" type="text" name="new_nick"/>
                            </div>
                            <div class="theme-account-preferences-item-change-actions">
                              <a class="btn btn-sm btn-primary" href="#" id="change_nick">저장</a>
                              <a class="btn btn-sm btn-default" href="#ChangeCurrency" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeCurrency">취소</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2 ">
                        <a class="theme-account-preferences-item-change-link" href="#ChangeCurrency" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeCurrency">
                          <i class="fa fa-pencil"></i>수정
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- 주소 -->
                  <div class="theme-account-preferences-item" method="post"> {% csrf_token %}
                    <div class="row">
                      <div class="col-md-3 ">
                        <h5 class="theme-account-preferences-item-title">집 주소</h5>
                      </div>
                      <div class="col-md-7 ">
                        <p class="theme-account-preferences-item-value">{{user.user_address | default:'저장된 주소가 없습니다'}}</p>
                        <div class="collapse" id="ChangeHomeAirportChange">
                          <div class="theme-account-preferences-item-change">
                            <p class="theme-account-preferences-item-change-description">수정할 주소를 입력하세요.</p>
                            <div class="form-group theme-account-preferences-item-change-form">
                              <div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
                              <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
                              </div>
                              <input class="form-control" id="kakaoAddress" type="text" value="{{user.user_address}}" name="new_address"/>
                            </div>
                            <div class="theme-account-preferences-item-change-actions">
                              {% comment %} <input class="btn btn-sm btn-primary" type="submit" value="저장"> {% endcomment %}
                              <a class="btn btn-sm btn-primary" href="#" id="change_address">저장</a>
                              <a class="btn btn-sm btn-default" href="#ChangeHomeAirportChange" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeHomeAirportChange">취소</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2 ">
                        <a class="theme-account-preferences-item-change-link" onclick="findDaumAddress()" href="#ChangeHomeAirportChange" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeHomeAirportChange">
                          <i class="fa fa-pencil"></i>수정
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- 이메일 주소 -->
                  <div class="theme-account-preferences-item" method="post">
                    <div class="row">
                      <div class="col-md-3 ">
                        <h5 class="theme-account-preferences-item-title">이메일 주소</h5>
                      </div>
                      <div class="col-md-7 ">
                        <p class="theme-account-preferences-item-value">{{ user.user_email }}</p>
                        <div class="collapse" id="ChangeHomeSite">
                          <div class="theme-account-preferences-item-change">
                            <p class="theme-account-preferences-item-change-description">수정할 이메일 입력하세요.</p>
                            <div class="form-group theme-account-preferences-item-change-form">
                              <input class="form-control" type="text" value="{{ user.user_email }}" name="new_email"/>
                            </div>
                            <div class="theme-account-preferences-item-change-actions">
                              <a class="btn btn-sm btn-primary" href="#" id="change_email">저장</a>
                              <a class="btn btn-sm btn-default" href="#ChangeHomeSite" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeHomeSite">취소</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2 ">
                        <a class="theme-account-preferences-item-change-link" href="#ChangeHomeSite" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeHomeSite">
                          <i class="fa fa-pencil"></i>수정
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- 휴대폰 번호 -->
                  <div class="theme-account-preferences-item" method="post">
                    <div class="row">
                      <div class="col-md-3 ">
                        <h5 class="theme-account-preferences-item-title">휴대폰 번호</h5>
                      </div>
                      <div class="col-md-7 ">
                        <p class="theme-account-preferences-item-value">{{ user.user_phone }}</p>
                        <div class="collapse" id="ChangeLanguage">
                          <div class="theme-account-preferences-item-change">
                            <p class="theme-account-preferences-item-change-description">수정할 핸드폰 번호를 입력하세요.</p>
                          <div class="form-group theme-account-preferences-item-change-form">
                            <input class="form-control" type="text" value="{{ user.user_phone }}" name="new_phone" onkeyup="inputPhoneNumber(this)"/>
                            </div>
                            <div class="theme-account-preferences-item-change-actions">
                              <a class="btn btn-sm btn-primary" href="#" id="change_phone">저장</a>
                              <a class="btn btn-sm btn-default" href="#ChangeLanguage" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeLanguage">취소</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2 ">
                        <a class="theme-account-preferences-item-change-link" href="#ChangeLanguage" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeLanguage">
                          <i class="fa fa-pencil"></i>수정
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

    // 우편번호 찾기 찾기 화면을 넣을 element
    var element_wrap = document.getElementById('wrap');

    function foldDaumPostcode() {
        // iframe을 넣은 element를 안보이게 한다.
        element_wrap.style.display = 'none';
    }

    function findDaumAddress() {
        // 현재 scroll 위치를 저장해놓는다.
        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        new daum.Postcode({
            oncomplete: function(data) {
                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 주소 정보를 해당 필드에 넣는다.
                document.getElementById("kakaoAddress").value = addr;
                // 커서를 상세주소 필드로 이동한다.

                // iframe을 넣은 element를 안보이게 한다.
                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                element_wrap.style.display = 'none';

                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                document.body.scrollTop = currentScroll;
            },
            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
            onresize : function(size) {
                element_wrap.style.height = size.height+'px';
            },
            width : '100%',
            height : '100%'
        }).embed(element_wrap);

        // iframe을 넣은 element를 보이게 한다.
        element_wrap.style.display = 'block';
    }

    const csrftoken = $("[name=csrfmiddlewaretoken]").val();

    $("#change_pw").click(function() {
      
      $.ajax({
        url: '/user/change_pw/',
        type: 'post', // get
        data: {
          'previous_pw': $('[name=previous_pw]').val(),
          'new_pw': $('[name=new_pw]').val(),
          'check_pw': $('[name=check_pw').val(),
          'csrfmiddlewaretoken':csrftoken
        },
        success: function(result) {
          console.log(result)

          if(result.previous == false){
            alert('현재 비밀번호를 잘못 입력하셨습니다.')
          } else {
            alert('비밀번호 변경이 완료되었습니다.')
          }
          location.href = "{% url 'user:account' %}"
        }
      });
    });

    $("#change_nick").click(function() {
      
      $.ajax({
        url: '/user/change_nick/',
        type: 'post', // get
        data: {
          'new_nick' : $('[name=new_nick]').val(),
          'csrfmiddlewaretoken':csrftoken
        },
        success: function(result) {
          //console.log(result)
          alert('닉네임 수정이 완료되었습니다.')
          location.href = "{% url 'user:account' %}"
        }
      });
    });

    $("#change_address").click(function() {
      
      $.ajax({
        url: '/user/change_address/',
        type: 'post', // get
        data: {
          'new_address' : $('[name=new_address]').val(),
          'csrfmiddlewaretoken':csrftoken
        },
        success: function(result) {
          //console.log(result)
          alert('주소 수정이 완료되었습니다.')
          location.href = "{% url 'user:account' %}"
        }
      });
    });

    $("#change_email").click(function() {
      
      $.ajax({
        url: '/user/change_email/',
        type: 'post', // get
        data: {
          'new_email' : $('[name=new_email]').val(),
          'csrfmiddlewaretoken':csrftoken
        },
        success: function(result) {
          //console.log(result)
          alert('이메일 수정이 완료되었습니다.')
          location.href = "{% url 'user:account' %}"
        }
      });
    });

    $("#change_phone").click(function() {
      
      $.ajax({
        url: '/user/change_phone/',
        type: 'post', // get
        data: {
          'new_phone' : $('[name=new_phone]').val(),
          'csrfmiddlewaretoken':csrftoken
        },
        success: function(result) {
          //console.log(result)
          alert('휴대폰 번호 수정이 완료되었습니다.')
          location.href = "{% url 'user:account' %}"
        }
      });
    });

    function inputPhoneNumber(obj) {
    var number = obj.value.replace(/[^0-9]/g, "");
    var phone = "";

    if (number.length < 4) {
      return number;
    } else if (number.length < 7) {
      phone += number.substr(0, 3);
      phone += "-";
      phone += number.substr(3);
    } else if (number.length < 11) {
      phone += number.substr(0, 3);
      phone += "-";
      phone += number.substr(3, 3);
      phone += "-";
      phone += number.substr(6);
    } else {
      phone += number.substr(0, 3);
      phone += "-";
      phone += number.substr(3, 4);
      phone += "-";
      phone += number.substr(7);
    }
    obj.value = phone;
  }
</script>
{% endblock %}