{% extends 'base.html' %}
{% load static %}
{% block contents %}
<style>
  .card_qr{
    width: 200px;
    height: 150px;
  }
</style>
  <body>
    <div class="theme-page-section theme-page-section-lg">
      <div class="container">
        <div class="row">
          <div class="col-md-9-5">
            <h1 class="theme-account-page-title">결제</h1>
            <div class="row row-col-gap" data-gutter="20">
              {% if card_info %}
                {% for i in card_info %}
                  <div class="col-md-4 delete" name="{{i.id}} ">
                <div class="theme-account-card theme-account-card-primary card">
                  <div class="theme-account-card-mask">
                    <ul class="theme-account-card-actions">
                      <li>
                        <a>
                          <i class="fa">QR코드</i>
                          <img src="/static/img/qrcode/{{i.card_holder}}{{i.users_id}}.jpg" class="card_qr" />
                        </a>
                      </li>
                      <li>
                        <a>
                          <i class="fa fa-times deleteBtn" name="{{i.id}}"></i>삭제
                        </a>
                      </li>
                    </ul>
                  </div>
                  <p class="theme-account-card-number">**** **** **** ****</p>
                  <div class="theme-account-card-expire">
                    <span class="theme-account-card-expire-end">valid
                      <br/>thru
                    </span>
                    <span class="theme-account-card-expire-date">{{i.validate_dt|date:'m/Y'}}</span>
                  </div>
                  <div class="theme-account-card-name">
                    <p>{{i.card_holder}}</p>
                  </div>
                </div>
              </div>
                {% endfor %}
              {% endif %}
              <!-- <div class="col-md-4 ">
                <div class="theme-account-card">
                  <div class="theme-account-card-mask">
                    <ul class="theme-account-card-actions">
                      <li>
                        <a href="#">
                          <i class="fa fa-pencil"></i>수정
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-times"></i>삭제
                        </a>
                      </li>
                    </ul>
                  </div>
                  <p class="theme-account-card-number">**** **** **** **** 5132</p>
                  <div class="theme-account-card-expire">
                    <span class="theme-account-card-expire-end">valid
                      <br/>thru
                    </span>
                    <span class="theme-account-card-expire-date">6/20</span>
                  </div>
                  <div class="theme-account-card-name">
                    <p>JOHN DOE</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="theme-account-card">
                  <div class="theme-account-card-mask">
                    <ul class="theme-account-card-actions">
                      <li>
                        <a href="#">
                          <i class="fa fa-pencil"></i>수정
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-times"></i>삭제
                        </a>
                      </li>
                    </ul>
                  </div>
                  <p class="theme-account-card-number">**** **** **** **** 5038</p>
                  <div class="theme-account-card-expire">
                    <span class="theme-account-card-expire-end">valid
                      <br/>thru
                    </span>
                    <span class="theme-account-card-expire-date">1/19</span>
                  </div>
                  <div class="theme-account-card-name">
                    <p>JOHN DOE</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="theme-account-card">
                  <div class="theme-account-card-mask">
                    <ul class="theme-account-card-actions">
                      <li>
                        <a href="#">
                          <i class="fa fa-pencil"></i>수정
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-times"></i>삭제
                        </a>
                      </li>
                    </ul>
                  </div>
                  <p class="theme-account-card-number">**** **** **** **** 9819</p>
                  <div class="theme-account-card-expire">
                    <span class="theme-account-card-expire-end">valid
                      <br/>thru
                    </span>
                    <span class="theme-account-card-expire-date">1/21</span>
                  </div>
                  <div class="theme-account-card-name">
                    <p>JOHN DOE</p>
                  </div>
                </div>
              </div> -->
              <!-- <div class="col-md-4 ">
                <div class="theme-account-card theme-account-card-new">
                  <a class="theme-account-card-mask-link" href="#"></a>
                  <p class="theme-account-card-new-title">+ Add New Card</p>
                </div>
              </div> -->
              <div class="col-md-4 ">
                <a href="#" onclick="showPopup(); return false; ">
                <div class="theme-account-card theme-account-card-new">
                  <p class="theme-account-card-new-title">+ 카드 추가하기</p>
                </div>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">

function showPopup() {
   window.open("{% url 'user:insert_card'%}", "카드정보입력", "width=800, height=600, left=100, top=50"); 
}

function move() {
  location.reload();
}

$(".deleteBtn").click(function(){
  var pk = $(this).attr("name");
  console.log(pk)
  $.ajax ({
    type : "POST",
    url : "{% url 'user:delete_card'%}",
    data : {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
    dataType : "json",

    success : function(response){
      alert("삭제성공");
      location.reload();
      //window.location.replace("{% url 'user:cards'%}");
    },
    //error : function(request,status,error){
      //alert("삭제실패");
     // window.location.replace("{% url 'user:cards'%}");
    //},
  });
})
</script>
{% endblock %}