{% extends 'base.html' %}
{% load static %}
{% block contents %}
<!--모달 관련 script-->

<style>
  html {
    height: 100%;
  }

  body {
    margin: 0;
    height: 100%;
    background: #f5f6f7;
    font-family: Dotum, '돋움', Helvetica, sans-serif;
  }

  #logo {
    width: 240px;
    height: 44px;
    cursor: pointer;
  }

  #header {
    padding-top: 62px;
    padding-bottom: 20px;
    text-align: center;
  }

  #wrapper {
    position: relative;
    height: 100%;
  }

  #content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 460px;
  }

  .password_alert {
    margin-top: 1em
  }

  .addr {
    width: 100%;
    height: 3em;
    margin-top: 1em;
  }

  .btn_addrfind {
    border: none;
    border-radius: 10px;
    background-color: skyblue;
  }

  .display_none {
    display: none;
  }



  /* 입력폼 */


  h3 {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
  }


  .box {
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
  }

  .int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
  }

  input {
    font-family: Dotum, '돋움', Helvetica, sans-serif;
  }

  .box.int_id {
    padding-right: 110px;
  }

  .box.int_pass {
    padding-right: 40px;
  }

  .box.int_pass_check {
    padding-right: 40px;
  }

  .step_url {
    /*@naver.com*/
    position: absolute;
    top: 16px;
    right: 13px;
    font-size: 15px;
    color: #8e8e8e;
  }

  .pswdImg {
    width: 18px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -10px;
    cursor: pointer;
  }

  #bir_wrap {
    display: table;
    width: 100%;
  }

  #bir_yy {
    display: table-cell;
    width: 147px;

  }

  #bir_mm {
    display: table-cell;
    width: 147px;
    vertical-align: middle;
  }

  #bir_dd {
    display: table-cell;
    width: 147px;
  }

  #bir_mm,
  #bir_dd {
    padding-left: 10px;
  }

  select {
    width: 100%;
    height: 29px;
    font-size: 15px;
    background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;
    -webkit-appearance: none;
    display: inline-block;
    text-align: start;
    border: none;
    cursor: default;
    font-family: Dotum, '돋움', Helvetica, sans-serif;
  }

  /* 에러메세지 */

  .error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color: red;
    display: none;
  }

  #alertTxt {
    position: absolute;
    top: 19px;
    right: 38px;
    font-size: 12px;
    color: red;
    display: none;
  }

  /* 버튼 */

  .btn_area {
    margin: 30px 0 91px;
  }

  #btnJoin {
    width: 100%;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: skyblue;
    font-size: 20px;
    font-weight: 400;
    font-family: Dotum, '돋움', Helvetica, sans-serif;
  }
</style>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

  // 비밀번호 일치 ajax
  $(function () {
    $("#alert-success").hide();
    $("#alert-danger").hide();
    $("input").keyup(function () {
      var user_pw = $("#user_pw").val();
      var check_pw = $("#user_pw_check").val();
      if (user_pw != "" && check_pw != "") {
        if (user_pw == check_pw) {
          $("#alert-success").show();
          $("#alert-danger").hide();
          $("#submit").removeAttr("disabled");
        }
        else {
          $("#alert-success").hide();
          $("#alert-danger").show();
          $("#submit").attr("disabled", "disabled");
        }
      }
    });
  });

  // 핸드폰 번호 자동 - 삽입 function
  function inputPhoneNumber(obj) {
    var number = obj.value.replace(/[^0-9]/g, "");
    var phone = "";

    if (number.length < 4) {
      return number;
    } else if (number.length < 7) {
      phone += number.substr(0, 3);
      phone += "-";
      phone += number.substr(3);
    } else if (number.length < 11) {
      phone += number.substr(0, 3);
      phone += "-";
      phone += number.substr(3, 3);
      phone += "-";
      phone += number.substr(6);
    } else {
      phone += number.substr(0, 3);
      phone += "-";
      phone += number.substr(3, 4);
      phone += "-";
      phone += number.substr(7);
    }
    obj.value = phone;
  }
  function sample6_execDaumPostcode() {
    new daum.Postcode({
      oncomplete: function (data) {
        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
        var addr = ''; // 주소 변수
        var extraAddr = ''; // 참고항목 변수

        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
          addr = data.roadAddress;
        } else { // 사용자가 지번 주소를 선택했을 경우(J)
          addr = data.jibunAddress;
        }

        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
        if (data.userSelectedType === 'R') {
          // 법정동명이 있을 경우 추가한다. (법정리는 제외)
          // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
          if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
            extraAddr += data.bname;
          }
          // 건물명이 있고, 공동주택일 경우 추가한다.
          if (data.buildingName !== '' && data.apartment === 'Y') {
            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
          }
          // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
          if (extraAddr !== '') {
            extraAddr = ' (' + extraAddr + ')';
          }
          // 조합된 참고항목을 해당 필드에 넣는다.
          document.getElementById("sample6_extraAddress").value = extraAddr;

        } else {
          document.getElementById("sample6_extraAddress").value = '';
        }

        // 우편번호와 주소 정보를 해당 필드에 넣는다.
        document.getElementById('sample6_postcode').value = data.zonecode;
        document.getElementById("sample6_address").value = addr;
        // 커서를 상세주소 필드로 이동한다.
        document.getElementById("sample6_detailAddress").focus();
      }
    }).open();
  }
</script>

<!-- wrapper -->

<div id="wrapper">
  <form action="{% url 'user:signup' %}" method="POST">
    {% csrf_token %}
    <!-- content-->
    <div id="content">
      <!-- <div>
      <h3 class="join_title">
        <label for="id">아이디</label>
      </h3>
      <span class="box int_id">
        <input type="text" id="id" class="int" maxlength="20">
        <span class="step_url">@naver.com</span>
      </span>
      <span class="error_next_box"></span>
    </div> -->

      <!-- ID -->
      <div>
        <h3 class="join_title">
          <label for="user_id">아이디</label>
        </h3>
        <span class="box int_id">
          <input type="text" name="user_id" id="user_id" class="int" maxlength="20" required>
        </span>
        <span class="error_next_box"></>
      </div>


      <!-- PW1 -->
      <div>
        <h3 class="join_title"><label for="user_pw">비밀번호</label></h3>
        <span class="box int_pass">
          <input type="password" name="user_pw" id="user_pw" class="int" maxlength="20" required>
          <span id="alertTxt">사용불가</span>
        </span>
        <span class="error_next_box"></span>
      </div>

      <!-- PW2 -->
      <div>
        <h3 class="join_title"><label for="pswd2">비밀번호 재확인</label></h3>
        <span class="box int_pass_check">
          <input type="password" id="user_pw_check" class="int" maxlength="20" required>
        </span>
        <span class="error_next_box"></span>
      </div>
      <!-- 비밀번호 확인-->
    <div class="password_alert">
      <div class="alert alert-success" id="alert-success">비밀번호가 일치합니다.</div>
      <div class="alert alert-danger" id="alert-danger">비밀번호가 일치하지 않습니다.</div>
    </div>

      <!-- NAME -->
      <div>
        <h3 class="join_title"><label for="name">이름</label></h3>
        <span class="box int_name">
          <input type="text" name = "user_name"id="user_name" class="int" maxlength="20" required>
        </span>
        <span class="error_next_box"></span>
      </div>

      <!--닉네임-->
      <div>
        <h3 class="join_title">
          <label for="nickname">닉네임</label>
        </h3>
        <span class="box int_nickname">
          <input type="text" name="user_nick" id="user_nick" class="int" maxlength="20" required>
        </span>
        <span class="error_next_box"></span>
      </div>

      <!-- 이메일 -->
      <div>
        <h3 class="join_title">
          <label for="email">이메일</label>
        </h3>
        <span class="box int_email">
          <input type="text" name="user_email" id="user_email" class="int" maxlength="100" required>
        </span>
        <span class="error_next_box"></span>
      </div>


      <!--EMAIL-->
      <!-- 
    <div>
      <h3 class="join_title"><label for="email">본인확인 이메일<span class="optional">(선택)</span></label></h3>
      <span class="box int_email">
        <input type="text" id="email" class="int" maxlength="100" placeholder="선택입력">
      </span>
      <span class="error_next_box">이메일 주소를 다시 확인해주세요.</span>
    </div> -->

    <input type="text" id="sample6_postcode" class="display_none" placeholder="우편번호">
      <input type="button" class="addr btn_addrfind" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
      <input type="text" id="sample6_address" name="sample6_address" class="addr" placeholder="주소" readonly required><br>
      <input type="text" id="sample6_detailAddress" class="display_none" placeholder="상세주소">
      <input type="text" id="sample6_extraAddress" class="display_none" placeholder="참고항목">
      <!-- MOBILE -->
      <div>
        <h3 class="join_title"><label for="phoneNo">휴대전화</label></h3>
        <span class="box int_mobile">
          <input type="tel" name = "user_phone"  onkeyup="inputPhoneNumber(this)" id="user_phone" class="int" maxlength="13" placeholder="전화번호 입력" required>
        </span>
        <span class="error_next_box"></span>
      </div>

      <!--radio 1-->
      <div>
        <h3 class="join_title"><label for="phoneNo">휴대전화 알림</label></h3>
        <input type="radio" id="phone_true" name="phone_alram" value="true" required>
        <label for="phone_true">예</label><br>
        <input type="radio" id="phone_false" name="phone_alram" value="false" required>
        <label for="phone_false">아니오</label><br>
      </div>

      <div>
        <h3 class="join_title"><label for="phoneNo">이메일 알림</label></h3>
        <input type="radio" id="email_true" name="email_alram" value="true" required>
        <label for="email_true">예</label><br>
        <input type="radio" id="email_false" name="email_alram" value="false" required>
        <label for="email_false">아니오</label><br>
      </div>
      <!-- JOIN BTN-->
      <div class="btn_area">
        <button type="submit" id="btnJoin" onclick="verifyEmail()">
          <span>가입하기</span>
        </button>
      </div>
    </div>
    <!-- content-->
  </form>
</div>
<!-- wrapper -->

<script src="main.js"></script>
{% endblock %}